@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Apps</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/Index">Home</a>
                    <a href="/About">About</a>
                    <a href="/Blog">Blog</a>
                    <a href="/Contact">Contact</a>
                    <a href="/Career">Career</a>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody();
</body>
</html>